<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Crash Points Map with Monthly Statistics</title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet"/>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
</head>
<body>
    <div class="tabs">
        <div id="show-map" class="tab active">Show Collision Map</div>
        <div id="add-collision" class="tab">Add Collision Prediction</div>
    </div>

    <div id="map-content" class="content active">
        <div id="map"></div>
        <div id="statistics">
            <div style="display: flex; align-items: center;">
                <h2>Daily Collision Statistics</h2>
            </div>
            <div id="date-slider-container">
                <div id="calendar-container"></div>
                <div id="selected-date-range">Selected Date: None</div>
            </div>
            
            <h2>Monthly Collision Statistics</h2>
            <svg id="plot" width="100%" height="100"></svg>
            
            <h2>Time Period Collision Statistics</h2>
            <svg id="time-plot" width="100%" height="300"></svg>
            <button id="showAll">Show All Data</button>
            <button id="reset">CLEAR</button>
            
        </div>
    </div>

    <div id="add-content" class="content">
        <div id="add-map"></div>
        <div id="add-statistics">
            <h2>Add Collision Point</h2>
            <p>Click on the map to add a prediction point.</p>
            <div id="add-result"></div>
            
            <!-- Buttons for Prediction and Reset -->
            <div style="margin-top: 15px;">
                <div id="predict-calendar-container"></div>
                <div id="predict-selected-date-range"></div>
                <div style="margin-top: 15px;">
                    <label for="time-slider">Select Time:</label>
                    <input type="range" id="time-slider" min="0" max="288" step="1" value="0" style="width: 100%; margin: 10px 0;">
                    <div id="date-display" style="text-align: center; font-weight: bold; font-size: 14px;">
                        Selected Date: 00:00:00
                    </div>
                    <div id="time-display" style="text-align: center; font-weight: bold; font-size: 14px;">
                    </div>
                    
                </div>
                <button id="perform-prediction" style="margin-right: 10px; padding: 8px 12px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    Perform Prediction
                </button>
                <button id="reset-prediction" style="padding: 8px 12px; background-color: #f44336; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    Reset
                </button>
            </div>
        </div>
    </div>
    
    <script>
        var graphData = {{ graph_data | safe }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
